# Virtual environments
venv_mac/
venv_windows/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder
instance/

# SQLite database file (if used)
*.sqlite

.DS_Store
~WRL0003.tmp
