body {
  font-family: 'Roboto', sans-serif;
  background-color: #242424;
  color: #fff;
}

.navbar-custom {
  background-color: #5a5a5a;
}

.navbar-custom .navbar-nav .nav-link {
  color: white;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-custom .navbar-nav .nav-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.navbar-custom .navbar-nav .nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.flash-message {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.navbar-toggler {
  display: none !important;
}

.navbar-collapse {
  flex-grow: 1;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-nav .nav-link {
  padding: 0;
}

.navbar-nav .nav-link:last-child {
  margin-left: auto;
}

.navbar-nav .nav-button {
  margin-left: 10px;
}

.navbar-nav .nav-button:last-child {
  margin-right: 10px;
}

.navbar-nav.ml-auto {
  display: flex;
  align-items: center;
}

.post-container {
  background-color: #5a5a5a;;
  border: 1px solid #FFFFFF;;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  width:50%;
}

.post-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.posts-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-title,
.post-language,
.post-username,
.post-date,
.post-rating {
  margin-right: 0.5rem;
}

.post-vote {
  display: inline-block;
}

.post-vote input[type="submit"] {
  background-color: transparent;
  border: none;
  color: #5a5a5a;
  cursor: pointer;
}

.upload-text-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3b3b3b;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.upload-text-btn:hover {
  background-color: #4b4b4b;
}

.vote-btn {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  margin: 0 3px;
}

.vote-btn:hover {
  color: #666;
}

.post-rating {
  margin-left: 5px;
  min-width: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.login-form .form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  user-select: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
