{% extends 'base.html' %}

{% block title %}View Text Resource{% endblock %}

{% block content %}
<div class="posts-wrapper">
    <h1>{{ resource.title }}</h1>
    <div class="post-container">
        <div class="post-header">
            <span class="post-title">{{ resource.title }}</span>
            <span class="post-language">{{ resource.language }}</span>
            <span class="post-username">uploaded by {{ resource.user.username }}</span>
            <span class="post-date">{{ resource.formatted_timestamp }}</span>
        </div>
        <div class="post-content">
            <p>{{ resource.content }}</p>
        </div>
    </div>

    <div class="vocab-container">
        <div class="vocab-buttons">
            <button id="vocab-btn" data-id="{{ resource.id }}">Vocab</button>

            <button id="study-btn">Study</button>
            <button id="test-btn">Test</button>
        </div>
        <div class="vocab-list" id="vocab-list" style="display: none;">
            <h3>Vocabulary</h3>
            <ul>
                {% for word in words %}
                <li>{{ word.word }} - {{ word.translation }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
function displayVocabulary(words) {
  const vocabList = document.getElementById("vocab-list");
  let html = "<h3>Vocabulary</h3><ul>";

  for (const word of words) {
    html += `<li>${word.word} - ${word.translation}</li>`;
  }

  html += "</ul>";
  vocabList.innerHTML = html;
}

document.getElementById("vocab-btn").addEventListener("click", function () {
  const vocabList = document.getElementById("vocab-list");
  const text_resource_id = this.getAttribute("data-id");

  if (vocabList.style.display === "none") {
    vocabList.style.display = "block";

    fetch(`/generate_vocabulary/${text_resource_id}`)
      .then((response) => {
        if (!response.ok) {
          throw new Error("Error fetching vocabulary");
        }
        return response.json();
      })
      .then((data) => {
        displayVocabulary(data.words);
      })
      .catch((error) => {
        console.error("Error fetching vocabulary:", error);
      });
  } else {
    vocabList.style.display = "none";
  }
});

</script>

{% endblock %}
